.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__ibelong_system/mail_api/pr_api.py
ibelong_system/mail_api/update_pr.py
ibelong_system/mail_api/pr_api.py
ibelong_system/mail_api/pr_api.py
ibelong_system/mail_api/update_pr.py
ibelong_system/mail_api/
*.log
*.log
